@import "../../assets/color";

.home{
    min-height: calc(100vh - 3.5rem);
    width: 100%;
    &__right{
        min-height: calc(100vh - 3rem);
        width: 100%;
        background-color: $bg2;
        &>div{
            max-width: 600px;
            margin: auto;
            .apps{
                &__item{
                    height: 150px;
                    min-width: 150px;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    &>div{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 0.4s;
                    }
                    small{
                        position: absolute;
                        left: 0;
                        bottom: -100%;
                        transition: 0.4s;
                    }
                    &:hover{
                        &>div{
                            top: -100%;
                        }
                        small{
                            bottom: 30%;
                        }
                    }
                }
            }
        }
        @media(max-width: 900px){
            &>div{
                width: 500px;
            }
        }
        @media(max-width: 800px){
            &>div{
                width: 400px;
            }
        }
        @media(max-width: 720px){
            &>div{
                width: 250px;
            }
        }
    }
    @media(max-width: 550px){
        &__left{
            display: none;
        }
    }
}