$bg1: #F5F7FA;
$bg2: #F5F5F5;
$bg3: #ebe6e6;
$gray: rgb(74, 72, 72);
$bgbtn: #5390F4;
$sales: #01BCAE;
$home: #5390F4;
$opportunities: #6AD83C;
$purchase: #27C2FF;
$inventory: #FFBB44;
$account: #8150E4;
$report: #FE586C;
$apps: #5390F4;